/* Fichier utilisé pour la demo3D #01
*/
body {
	margin: 0px;
	width: 100%;
}

.verte {
	background-color: #D0FFD0;
	/*margin : 10px;*/
	padding: 10px;
	height: 100px;
	/*dimension + 2*bordure - 2*padding */
	width: calc(100%-20px);
}

.bleue1{
	background-color: #a2b3ff;
	height: 100px;
	width: 20%;
	float: left;
}
.bleue2{
	background-color: #a2d2ff;
	height: 100px;
	width: 50%;
	float: left;
}
.bleue3{
	background-color: #a2f1ff;
	height: 100px;
	width: 30%;
	float: left;
}


.mauve {
	background-color: #D0C0E0;
	height: 300px;
	padding: 10px;
}
